{{#if loggedIn}}
<article class="post">
  <div class="title">
    <a href="{{breed}}" target="_blank">{{username}}</a>
    <span>({{post_breed}})</span>
  </div>
  <div class="meta">
    {{like_count}} {{format_plural "point" like_count}} by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>
{{/if}}